$primary: #150080;
$accent: #d08642;
$bg: #ffffff;
$bg-accent: #e7e8e9;
$disabled: #9c9c9c;
$foreground: #2d264b;

body {
  font-family: monospace;
  background: linear-gradient(0deg, $primary 0.03%, $accent);
  color: $foreground;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 0 30px;
  height: 100vh;
}

.homepage-container {
  width: 80vw; /* Increase the width to 80% of the viewport width */
  max-width: 1200px; /* Ensure it doesn't exceed 1200px on larger screens */
  background: $bg;
  border-radius: 0.4em;
  margin-top: 10vh;
  padding: 3vh 6vw;
  box-sizing: border-box;
  max-height: 80vh;
  overflow-y: auto;
  scroll-behavior: smooth;
  img {
    max-width: 100%;
    height: auto;
    border-radius: 0.5em;
    margin-top: 2vh;
  }
  &::-webkit-scrollbar {
    width: 12px;
    height: 12px;
  }

  li:hover {
    background: $accent;
  }
  &::-webkit-scrollbar {
    width: 1em;
    height: 1em;
  }

  li:hover {
    background: $accent;
  }

  &::-webkit-scrollbar-track {
    background: $bg-accent;
    border-radius: 0.6em;
  }

  &::-webkit-scrollbar-thumb {
    background: $primary;
    border-radius: 1em;
    border: 0.3em solid $bg-accent;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: $accent;
  }
}

h2 {
  font-size: 20px;
  font-weight: 500;
  margin: 0;
  margin-bottom: 2vh;
  margin-top: 2vh;
}
ul {
  margin-top: 20px;
  margin-left: -40px;
}
li {
  text-decoration: none;
  list-style: none;
  color: $foreground;
  font-size: 16px;
  background: $bg;
  border: 1px solid $disabled;
  border-radius: 16px;
  padding: 11px;
  margin-top: 15px;
  cursor: pointer;
}
.selected-answer {
  background: $primary;
  border: 1px solid $accent;
  color: $bg;
}
.footer {
  display: flex;
  justify-content: flex-end;
}
.button-setup {
  display: flex;
  flex-direction: column; /* Stack the buttons vertically */
}
.chapters-button-setup {
  display: flex;
  justify-content: space-between;
}
button {
  background: linear-gradient(0deg, $primary 0.8%, $accent);

  border-radius: 9px;
  font-size: 18px;
  color: $bg;
  padding: 10px 32px;
  outline: none;
  border: none;
  margin-top: 15px;
  cursor: pointer;

  &disabled {
    background: $bg-accent;
    color: disabled;
    cursor: not-allowed;
  }
}

.result {
  text-align: center;
  h3 {
    font-size: 24px;
    letter-spacing: 1.4px;
    text-align: center;
  }
  p {
    font-size: 16px;
    font-weight: 500;
    span {
      color: $primary;
      font-size: 22px;
    }
  }
}

@-moz-document url-prefix() {
  .homepage-container {
    scrollbar-color: $primary $bg-accent;
    scrollbar-width: thin;
  }

  .active-questions-no {
    font-size: 32px;
    font-weight: 500;
    color: $primary;
  }
  .active-question-no {
    font-size: 16px;
    font-weight: 500;
    color: $disabled;
  }
}
